<div class="group">
    <div class="card shadow post">
        <div class="card-body">
            <h5 class="card-title">
                <p class="card-title">
                    Please login or create an account to view more than 5 collections of npc's!
                </p>
            </h5>
            <div class="row">
                <form method="get" action="/login">
                    <button type="submit" class="btn btn-success registerFormElement">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>