<!doctype html>
<html lang="en">

<head>
    <%- include('../views/partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../views/partials/header.ejs') %>
    </header>
    <main>
        <div class="center col-4">
            <h1 class="card-title">Login</h1>
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-warning" id="pageBanner" role="alert" style="display:none"></div>
                    <form class="registerForm" method="POST" action="/loggedin">
                        <div class="row">
                            <div class="col">
                                <label>Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                            </div>
                            <div class="col">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="row buttonRow">
                            <div class="col grid">
                                <button type="submit" id="loginFormSubmit" class="btn btn-success mb-2">Login</button>
                            </div>
                        </div>
                        <div class="row buttonRow">

                            <div class="col grid">
                                <small class="text-muted">Don't have an account? <a href="/register"
                                        class="text-reset">Register</a></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>